/* Input date picker */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

p {
  margin: 0;
}

.addschedulecontents_first_input-date-picker {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1469px;
  border-radius: 28px;
  box-sizing: border-box;
  background-color: rgba(236, 230, 240, 1);
}
.addschedulecontents_first_date {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 18px 24px 16px;
  box-sizing: border-box;
}
.addschedulecontents_first_text-field-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.addschedulecontents_first_text-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  height: 100%;
  border: 3px solid rgba(101, 85, 143, 1);
  border-radius: 4px;
  box-sizing: border-box;
}
.addschedulecontents_first_state-layer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.addschedulecontents_first_content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 1405px;
  height: 100%;
  box-sizing: border-box;
}
.addschedulecontents_first_label-text-1 {
  position: absolute;
  top: -12px;
  left: -4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  height: 16px;
  padding: 0px 4px 0px;
  box-sizing: border-box;
  background-color: rgba(236, 230, 240, 1);
}
.addschedulecontents_first_label-text {
  color: rgba(101, 85, 143, 1);
  font-size: 12px;
  line-height: 133%;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.addschedulecontents_first_input-text-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
  padding-left: 5px;
}

.addschedulecontents_second_input-date-picker {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  width: 1469px;
  height: 339px;
  border-radius: 28px;
  box-sizing: border-box;
  background-color: rgba(236, 230, 240, 1);
}
.addschedulecontents_second_date {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 18px 24px 16px;
  box-sizing: border-box;
}
.addschedulecontents_second_text-field-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 300px;
  box-sizing: border-box;
}
.addschedulecontents_second_text-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  height: 100%;
  border: 3px solid rgba(101, 85, 143, 1);
  border-radius: 4px;
  box-sizing: border-box;
}
.addschedulecontents_second_state-layer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 56px;
  box-sizing: border-box;
}
.addschedulecontents_second_content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 1405px;
  height: 100%;
  box-sizing: border-box;
}

.addschedulecontents_second_label-text-1 {
  position: absolute;
  top: -12px;
  left: -4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  height: 16px;
  padding: 0px 4px 0px;
  box-sizing: border-box;
  background-color: rgba(236, 230, 240, 1);
}
.addschedulecontents_second_label-text {
  color: rgba(101, 85, 143, 1);
  font-size: 12px;
  line-height: 133%;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.addschedulecontents_second_input-text-1 {
  position: absolute;
  top: -85px;
  left: 0px;
  width: 1388px;
  height: 98px;
}

.addschedulecontents_first_input-text {
  color: rgba(27, 31, 32, 1);
  width: 100%;
  height: 100%;
  background-color: rgba(236, 230, 240, 1);
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: small;
  letter-spacing: 0.5px;
  z-index: 1000;
}

.addschedulecontents_second_input-text {
  position: absolute;
  top: 13px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 230, 240, 1);
  color: rgba(27, 31, 32, 1);
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding-left: 5px;
}

.addschedulecontents_first_input-text-1 input,
.addschedulecontents_second_input-text {
  width: 100%; /* 부모 요소의 전체 너비를 차지하도록 설정 */
  box-sizing: border-box; /* padding과 border가 width에 포함되도록 설정 */
  border: none; /* 외곽선을 없애기 위한 설정 */
  outline: none; /* 포커스 시 나타나는 외곽선도 제거 */
}
